<div>
  <input type="file" (change)="fileChangeEvent($event)" />
</div>
<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="1"
  format="png"
  [imageFile]="imageTempFile"
  (imageCropped)="imageCropped($event)"
  [resizeToWidth]="512"
  [resizeToHeight]="512"
></image-cropper>
<div>
  <button (click)="startSpeechRecognition()">Start Speech Recognition</button>
  <button (click)="stopSpeechRecognition()">Stop Speech Recognition</button>
  <p>Prompt Text: {{ promptText }}</p>
  <textarea [(ngModel)]="promptText"></textarea>
</div>
<div>
  <button (click)="savePrompt()">Save Prompt</button>
</div>
<div>
  <h3>Preview</h3>
  <img [src]="croppedImage" *ngIf="croppedImage" />
</div>
<app-video-player #videoPlayerComponent></app-video-player>
<button (click)="setCurrentFrameAsImage()">Use Current Frame as Image</button>


<div>
  <label for="folderPath">Target Folder Path:</label>
  <input type="text" id="folderPath" [(ngModel)]="folderPath" />
  <button (click)="saveAllImagesAndDescriptions(folderPath)">Save All Images and Descriptions</button>
</div>
