<mat-tab-group>
  
  <mat-tab label="Video Player">
    <app-video-player #videoPlayerComponent></app-video-player>
    <button (click)="setCurrentFrameAsImage()">Use Current Frame as Image</button>
  </mat-tab>
  
  <mat-tab label="Image Cropper">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1"
      format="png"
      [imageFile]="imageTempFile"
      (imageCropped)="imageCropped($event)"
      [resizeToWidth]="512"
      [resizeToHeight]="512"
    ></image-cropper>
  </mat-tab>
  
  <mat-tab label="Speech Recognition">
    <div *ngIf="croppedImage">
      <h3>Preview</h3>
      <img [src]="croppedImage" />
    </div>

    <div>
      <button (click)="startSpeechRecognition()">Start Speech Recognition</button>
      <button (click)="stopSpeechRecognition()">Stop Speech Recognition</button>
      <p>Prompt Text: {{ promptText }}</p>
      <textarea [(ngModel)]="promptText"></textarea>
      <button (click)="savePrompt()">Save Prompt</button>
    </div>
  </mat-tab>
  
  <mat-tab label="File Selection">
    <div>
      <input type="file" (change)="fileChangeEvent($event)" />
    </div>
  </mat-tab>
  
  <mat-tab label="Preview">
    <app-preview [croppedImage]="croppedImage" (saveAll)="saveAllImagesAndDescriptions($event)"></app-preview>
  </mat-tab>
</mat-tab-group>
